.headerDescription {
    color: rgb(249, 243, 243);
    text-align: center;
    background-color: #212529;
    padding: 6rem 2rem 2rem 2rem;
}

.link {
    text-decoration: none;
    color: black;
    align-items: center;
}

.navItem{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}